INSFORGE_URL=https://<tu-proyecto>.ap-southeast.insforge.app
INSFORGE_ANON_KEY=xxx
INSFORGE_SERVICE_KEY=xxx
WHATSAPP_TOKEN=xxx
WHATSAPP_PHONE_ID=xxx
GOOGLE_CLIENT_ID=xxx
MERCADOPAGO_ACCESS_TOKEN=xxx
CRON_SECRET=supersecreto
